*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 13px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__textfield {
  width: 100%;
  height: 27px;
  border-top: 1px solid currentColor;
  border-right: 0;
  border-bottom: 1px solid currentColor;
  border-left: 0;
  color: inherit;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid white;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  width: 16px;
  height: 16px;
  margin: 1px 5px 0 1px;
  outline: 2px solid currentColor;
  outline-offset: 1px;
  background-color: white;
}

.search-form__fieldset:last-of-type {
  width: 212px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  min-height: 34px;
  margin-bottom: 1px;
  border: solid 1px currentColor;
  color: white;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 298px;
  margin-top: 22px;
  overflow-y: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  line-height: 1;
  margin-top: 3px;
}

.content__card-link:active .content__video-card {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid white;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card-title {
  max-width: 196px;
  overflow: hidden;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  width: 196px;
  display: -webkit-box;
  margin-top: 3px;
  overflow: hidden;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  width: 390px;
}
